<h1>I won't show you the events, like seriously :P</h1>

<ul>
  <% @events.each do |event| %>
  <li>
    <p><%= event.date %></p>
    <p><%= event.name %></p>
    <p><%= event.venue %></p>
  </li>
  <% end %>
</ul>