<h1>I won't show you the events, like seriously :P</h1>

<ul>
  <% @events.each do |event| %>
  <li>
    <span>Event: <%= event.name %></span><br>
    <span>Venue: <%= event.venue %></span><br>
    <span>Date: <%= event.date %></span><br>
  </li>
  <% end %>
</ul>
