<h1>I won't show you the events, like seriously :P</h1>

<ul>
  <% @events.each do |event| %>
  <li>
    <span>Event: <%= event.name %></span><br>
    <span>Venue: <%= event.venue %></span><br>
    <span>Date: <%= event.date %></span><br>
    <% if user_signed_in? %>
      <%= link_to 'Join event', event_attendances_path(event: event), method: 'create'  %>
    <% end %>
  </li>
  <% end %>
</ul>
